WcfWithoutConfigFile.WebHost.Castle-Client/Service References/RemoteServices/UploadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UploadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IUploadService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <http:NegotiateAuthentication xmlns:http="http://schemas.microsoft.com/ws/06/2004/policy/http" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51472/UploadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51472/UploadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUploadService_Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="IUploadService_Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="IUploadService_GetCurrentWindowsIdentityName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentWindowsIdentityName" />
  </wsdl:message>
  <wsdl:message name="IUploadService_GetCurrentWindowsIdentityName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentWindowsIdentityNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IUploadService">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadService/Upload" message="tns:IUploadService_Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadService/UploadResponse" message="tns:IUploadService_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWindowsIdentityName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUploadService/GetCurrentWindowsIdentityName" message="tns:IUploadService_GetCurrentWindowsIdentityName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUploadService/GetCurrentWindowsIdentityNameResponse" message="tns:IUploadService_GetCurrentWindowsIdentityName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUploadService" type="tns:IUploadService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IUploadService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IUploadService/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentWindowsIdentityName">
      <soap:operation soapAction="http://tempuri.org/IUploadService/GetCurrentWindowsIdentityName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadService">
    <wsdl:port name="BasicHttpBinding_IUploadService" binding="tns:BasicHttpBinding_IUploadService">
      <soap:address location="http://localhost:51472/UploadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>